/svgcal/bin/Debug/.directory
/svgcal/bin/Debug/01.svg
/svgcal/bin/Debug/02.svg
/svgcal/bin/Debug/03.svg
/svgcal/bin/Debug/04.svg
/svgcal/bin/Debug/05.svg
/svgcal/bin/Debug/06.svg
/svgcal/bin/Debug/07.svg
/svgcal/bin/Debug/08.svg
/svgcal/bin/Debug/09.svg
/svgcal/bin/Debug/10.svg
/svgcal/bin/Debug/11.svg
/svgcal/bin/Debug/12.svg
/svgcal/bin/Debug/dummy.png
/svgcal/bin/Debug/dummy.svg
/svgcal/bin/Debug/svgcal.exe
/svgcal/bin/Debug/svgcal.exe.mdb
/svgcal/obj/x86/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs
/svgcal/obj/x86/Debug/svgcal.csproj.FilesWrittenAbsolute.txt
/svgcal/obj/x86/Debug/svgcal.exe
/svgcal/obj/x86/Debug/svgcal.exe.mdb
